	<section id="web" name="web"></section>
  <div id="f">
    <div class="container">
			<div class="row">
				<h3>O QUE FAZEMOS</h3>
				<!-- INTRO INFORMATIO
				<div class="col-lg-6 col-lg-offset-3"> </div>								-->
				<div class="col-md-6 "> 
          <p>Oferecemos toda a estrutura necessária para uma presença de sucesso na Web.</p>
          <p>Desde websites, e-commerces, aplicativos mobile, MVP e assessoria tecnológica para Startups até todo o processo de estabelecimento estratégico de marca através de técnicas de sucesso em Marketing digital.</p>

                    </div>
				<div class="col-md-6 "> 
          <p>Contamos com profissionais especializados em cada área para executar um trabalho que atinja as mais altas expectativas e garantimos o suporte essencial para o desenvolvimento, manutenção e crescimento de seu projeto.</p>
               </div>	
			</div>
		</div><!-- /container -->
	</div><!-- /f -->
